@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 5px;
}

.slick-prev {
  background: linear-gradient(90deg, #121212 50%, rgba(64,0,255,0) 100%) !important;
  height: 100% !important;
  position: absolute !important;
  width: 5% !important;
  z-index: 1;
}

.slick-next {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #121212 90%) !important;
  height: 100% !important;
  position: absolute !important;
  width: 5% !important;
  z-index: 1;
  right: 0 !important;
}

body {
  background-color: #121212;
}